# Database
DATABASE_URL=postgres://wn:wn_dev_local@localhost:5434/wn_panel

# Keycloak
KEYCLOAK_ISSUER=http://localhost:8089/realms/wn-panel
KEYCLOAK_CLIENT_ID=wn-panel-app
KEYCLOAK_CLIENT_SECRET=change-me-in-production

# App
NODE_ENV=development
